@using ORAUInterviewEval.Core.Interfaces
@model ContactModel
@{
	Func<string, string> GenerateInputName = (x) => { return "Profile.Contacts[" + ViewBag.Index+ "]." + x; };
	/*
	 * Guid was not working on my machine. So now using a int index instead. I could not find a way to get the guid to work view research online.
	 * Need to use a combination of JS and ViewBag to get this to work.
	 */
}


<div class="card mt-4">
	<div class="card-header">
		Contact
	</div>
	<div class="card-body">
		<div class="form-group">
			<label class="form-label" for="@GenerateInputName("Address")">Address</label>
            <input class="form-control" aria-required="true" name="@GenerateInputName("Address")" value="@Html.ValueFor(m=>m.Address)"/>
			
		</div>

		<div class="form-group">
			<label class="form-label" for="@GenerateInputName("City")">City</label>
			<input class="form-control" aria-required="true" name="@GenerateInputName("City")" value="@Html.ValueFor(m=>m.City)"/>
		</div>




	</div>
</div>